$orange-000: #FFAC1C !default;
$orange-100: #F28C28 !default;
$orange-200: #FFA500 !default;
$orange-300: #FF7F50 !default;

$black: #36454F !default;


$body-background-color: $orange-300;
$sidebar-color: $orange-300;
$border-color: $orange-300;
$btn-primary-color: $orange-300;
$base-button-color: $orange-300;
$code-background-color: $orange-300;
$search-background-color: $orange-300;


.btn-orange {
  @include btn-color($black, $orange-000);
}
.btn-white {
  @include btn-color($black, $white);
}
